.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  background: red;
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  background: red;
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu-btn.close .btn-line:hover {
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
  background: #eece1a;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  float: left;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  width: 32%;
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #444;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  width: 68%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
      grid-template-areas: 'me me me'
 'language1 language2 language3'
 'language4 language5 language6';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 100px;
  height: 100px;
  background-size: cover;
  background: url(../img/me.jpg);
  border-radius: 50%;
  border: solid 3px #eece1a;
}

.menu .me {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: me;
  background: #585858;
  border-bottom: #eece1a 5px solid;
}

.menu .me:hover {
  color: #eece1a;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .me:hover span {
  color: #fff;
}

.menu .me h1 {
  font-size: 2rem;
}

.menu .language-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: language1;
}

.menu .language-1 .language {
  border-bottom: #307bbb 5px solid;
}

.menu .language-1 .language:hover {
  color: #307bbb;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: language2;
}

.menu .language-2 .language {
  border-bottom: orange 5px solid;
}

.menu .language-2 .language:hover {
  color: #ffb329;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: language3;
}

.menu .language-3 .language {
  border-bottom: green 5px solid;
}

.menu .language-3 .language:hover {
  color: #00a900;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: language4;
}

.menu .language-4 .language {
  border-bottom: #c6ff00 5px solid;
}

.menu .language-4 .language:hover {
  color: #cfff29;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: language5;
}

.menu .language-5 .language {
  border-bottom: #5283a2 5px solid;
}

.menu .language-5 .language:hover {
  color: #6997b3;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: language6;
}

.menu .language-6 .language {
  border-bottom: #d175ff 5px solid;
}

.menu .language-6 .language:hover {
  color: #d175ff;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .language:hover {
  background: #585858;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .language-img {
  width: 100px;
  height: 100px;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #eece1a;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 1.0s ease-out;
  transition: all 1.0s ease-out;
}

.menu .nav-link:hover {
  color: #eece1a;
}

.work-img-height {
  height: 100px;
  width: 100px;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
/*# sourceMappingURL=menu.css.map */